*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
background:linear-gradient(90deg,rgba(128, 1, 126,1),rgba(128, 1, 126,.5),rgba(128, 1, 126,.2),transparent,transparent) ,url("./image/Samyak_Kamble.jpg");
    background-position:right;
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
    width: 53%;
    height: 100vh;
    background:transparent;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.logo{
    font-size: 3rem;
    color: white;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease;
}

.menu a:hover{
    background-color: blueviolet;
    border-radius: 10px;
}
.menu{
    padding-top: 100px;
}
.menu i{
    margin: 0 20px;
}
.s-icon{
    position: absolute;
    bottom: 8%;
}
.s-icon i{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(90, 90, 90);
    transition: 0.5s ease;
}

.s-icon i:nth-child(1){
    background-color: rgb(49, 49, 132);   
}
.s-icon i:nth-child(2){
    background-color: rgb(45, 45, 252);   
}
.s-icon i:nth-child(3){
    background-color: rgb(242, 26, 159);   
}
.s-icon i:nth-child(4){
    background-color: rgb(0, 255, 110);   
}

.s-icon i:hover{
transform: translateY(-10px);
}